div{
    margin: 10px;
    padding: 5px;
}
#father{
    border: 1px #000000 solid;

}
.layer01{
    border:1px #000000 solid;
    display: inline-block;
    float:left;
}
.layer02{
    border:1px #000000 solid;
    display:inline-block;
    float:left;

}
.layer03{
    border:1px #000000 solid;
    display:inline-block;
    float:right;
}
/*
clear:right;右侧不允许有浮动元素
clear:left;左侧不允许有浮动元素
clear:both;两侧都不允许
clear:none;

*/
.layer04{
    border:1px #ff9a9e dashed;
    font-size: 12px;
    line-height: 23px;
    display: inline-block;
    float: right;
}